{% extends 'base.html' %}

{% block header %}
  <h1>Fluffy Pancakes (no buttermilk)</h1>
{% endblock %}

{% block content %}
<hr>
<h3>Ingredients</h3>
<ul>
  <li>1 cup all purpose flour (sifted)</li>
  <li>2 tsp baking powder</li>
  <li>2 tbsp sugar</li>
  <li>3/4 cup + 2 tsp milk</li>
  <li>1 large egg, beaten until fluffy</li>
  <li>2 tbsp unsalted butter</li>
  <li>1 tsp vanilla extract</li>
  <li>vegetable oil for cooking</li>
</ul>
<h3>Method</h3>
<ol>
  <li>Combine dry and wet ingredients in 2 separate bowls. Stir to combine.</li>
  <li>Add wet ingredients into dry ingredients and stir gently to mix, until just combined. Do not overwork</li>
  <li>Leave in fridge for 10-15mins to rise.</li>
  <li>Use a 1/2 cup to scoop batter into a pre-heated cast-iron skillet and cover with a lid to allow pancake to rise.</li>
</ol>
{% endblock %}
